* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 40px 68px;
}

.banner {
    display: flex;
    background: #161616;
    border-radius: 30px;
    padding: 50px 70px;
}

.banner-content {
    margin-top: 20px;
}

.banner-content,
.image-banner {
    width: 50%;
}

.banner-content h1 {
    width: 531px;
    height: 240px;
    left: 246px;
    top: 200px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner p {
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
}

.button-1 {
    background-color: red;
    padding: 20px 25px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.image-banner img {
    width: 100%;
    position: relative;
    top: 57px;
}

.menu-section {
    display: flex;
    gap: 25px;
    padding: 46px 0px;
}

.linking {
    background: black;
}

.linking a {
    position: sticky;
}

.aside-btn {
    color: #000;
    background-color: #fff;
    padding: 7px 25px;

}

.right-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.player-blog{
    border: 1px solid gray;
    border-radius: 10px;
}

.player {
    border: 1px solid gray;
    border-radius: 10px;
    width: 312px;
    height: 242px;
}

.player-img img {
    width: 100%;
}

.content {
    padding: 20px;
}

.transfer-btn {
    width: 106px;
    height: 32px;
}

.icon-part {
    display: flex;
    padding: 10px 0px;
    gap: 20px;
}

.side-part {
    max-width: 50%;
}

.linking {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.side-btn {
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}

#red {
    background-color: red;
    border: 1px solid red;
    color: #fff;
}

.player-img {
    display: flex;
    padding: 22px 15px;
}

span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: black;
    padding: 20px;
}

footer {
    background: black;
    padding: 50px;
}

footer h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

hr {
    width: 80%;
    margin: 0px auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 35px 0px 0px 29px;
}

nav li a {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}